@charset "utf-8";

/*优质项目-start*/
.project-banner{background: url(../images/details/project-banner.jpg) center center no-repeat;background-size: 100% 100%;}
.details-unit .project-button{border: none;color:#fff;font-size: 0.22rem;text-align: center;background-color: #ff6100;padding:0.1rem 0.15rem;}
/*优质项目-end*/

/*金融支持-start*/
.finace-banner{background: url(../images/details/finace-banner.jpg) center center no-repeat;background-size: 100% 100%;}
.details-unit .leve-message{color: #666;}
.details-unit .leve-message span{color:#00b1e4;}
.details-evaluate{line-height: 0.4rem;}
.details-evaluate b{width: 0.4rem;height: 0.4rem;display: inline-block;vertical-align:-0.1rem;margin-right: 0.2rem;}
.details-unit p.details-evaluate{color:#333;}
/*金融支持-end*/

/*悬赏详情-start*/
.download-file{width: 3.5rem;height: 0.4rem;position: relative;z-index: 50;top:0;opacity: 0;filter: alpha(opacity=0);}
.download-file-text{position: relative;z-index: 30;top:0;background-color: transparent;font-size: 0.28rem;color:#FF6100;}
.download-img{width: 0.3rem;height: 0.3rem;display: inline-block;vertical-align: -0.04rem;}
.download-file-text::-webkit-input-placeholder{color:#ff6100;}
.download-file-text::-moz-placeholder{color:#ff6100;} /* Mozilla Firefox 19+ */
.download-file-text:-moz-placeholder{color:#ff6100;}/* Mozilla Firefox 4 to 18 */
.details-unit.reward-unit{padding-left: 0;padding-right: 0;}
.reward-unit h2.l-border{margin-left: 0.25rem;}
.join-ul li img{width: 100%;height: 100%;}
.join-ul>li{border-bottom: 1px solid #ddd;padding:0.25rem;}
.join-ul li .join-l{float: left;margin-right: 0.25rem;position: relative;width: 1.65rem;height: 1.65rem;border: 1px solid #ddd;}
.join-ul li .join-l span{display: inline-block;width: 100%;height: 100%;}
.join-ul li .join-l b{display: inline-block;width: 0.9rem;height: 0.46rem;transform: rotate(30deg);position: absolute;top:0.2rem;right: 0.1rem;-moz-transform: rotate(30deg);-ms-transform: rotate(30deg);-webkit-transform: rotate(30deg);-o-transform: rotate(30deg);}
.join-ul .join-r h3{font-weight: normal;font-size: 0.28rem;}
.join-ul .join-r{float: left;width: 5.1rem;position: relative;}
.join-ul .join-r p{color:#666;font-size: 0.28rem;margin: 0.2rem 0;}
.join-ul .join-r button{padding:0.1rem 0.2rem;font-size: 0.28rem;color:#fff;background-color: #00b1e4;border: none;position: absolute;right: 0;bottom: 0rem;}
/*悬赏详情-end*/

/*成果发布-start*/
.order-consult {text-align: center;margin-bottom: 0.1rem;}
.order-consult button{width: 3.25rem;height: 0.8rem;background-color: #fff;border:2px solid #00b1e3;text-align: center;color: #00b1e3;font-size: 0.3rem;margin:0 0.2rem;}
.order-consult button.order-consult-selected{background-color: #00b1e3;color: #fff;}
.tech-into{margin-top: 0.3rem;}
.details-unit .tech-into p{margin-top: 0px;line-height: 0.5rem;text-indent: 2em;}
.details-unit .tech-into .tech-p1{text-indent: 0;}
/*星级*/
.details-ul .score-ol li,.details-ul .score-ol li e{width: 0.36rem;height: 0.35rem;}
/*成果发布-end*/
/*服务商店铺 我要投标 服务科技-start*/
.serv-item{background-color: #fff;padding-bottom: 0.2rem;position: relative;}
.serv-item-title{font-size: 0.28rem;border-bottom: 1px solid #ddd;height: 0.9rem;line-height: 0.9rem;}
.serv-item-title span{width: 50%;text-align: center;display: inline-block;line-height: 0.9rem;height: 0.9rem;float:left;}
.serv-item-title .serv-selected{border-bottom: 2px solid #00b1e3;color:#00b1e3;}
.serv-item .serv-content{padding:0.35rem 0.25rem 0 0.25rem;min-height: 4.7rem;background-color: #fff;}
.dis{display: none;}
.serv-item .shops-text{font-size: 0.28rem;text-align: center;}
 .serv-content .tender-hall{text-indent: 2em;text-align: left;line-height: 0.6rem;}
.serv-shop-icon{display: inline-block;}
.serv-shop-icon span{display: inline-block;width: 0.36rem;height: 0.34rem;border-radius: 2px;color:#fff;line-height: 0.34rem;text-align: center;font-size: 0.24rem;margin:0 0.03rem;padding: 0.01rem;}
.shop-color1{background-color: #ff5f00;}
.shop-color2{background-color: #ff9000;}
.shop-color3{background-color: #76a85f;}
.calendar p.science-serv{height: 0.6rem;line-height: 0.6rem;background-color: #00b1e4;background: rgba(0,177,228,0.6);font-size: 0.28rem;border-radius: 3px;margin-left: -0.35rem;padding:0 0.3rem 0 0.4rem;}
.pages-banner div.science-serv-top{margin-top: 0.9rem;}
.science-serv-unit{padding:0.35rem 0.25rem;margin-bottom: 0.1rem;}
.science-serv-unit p{line-height: 0.6rem;font-size: 0.28rem;color:#333;}
.science-serv-unit p b{color:#ff5f00;}
/*服务商店铺 我要投标 服务科技-end*/
/*服务科技-start*/
.serv-img{margin:0 auto;margin-bottom: 0.4rem;overflow: hidden;}
.serv-img1{width: 6.93rem;height: 2.88rem;}
.serv-img2{width: 6.93rem;height: 4.35rem;}
.serv-img3{width: 6.93rem;height: 5.7rem;}
.science-title{font-size: 0.3rem;font-weight: bold;margin-bottom: 0.4rem;padding-left: 0.5rem;}
.serv-details{margin-bottom: 0.4rem;padding-left: 0.5rem;}
.serv-content .serv-details p{text-align: left;font-size: 0.28rem;}
.serv-content .serv-details p b{display: inline-block;width: 2em;}
.science-serv-list{margin-bottom: 0.4rem;}
.science-serv-list h2{font-size: 0.28rem;margin-bottom: 0.15rem;}
.science-serv-list p{font-size: 0.22rem;line-height: 0.35rem;text-indent: 2em;}
.science-serv-list li{font-size: 0.22rem;list-style-type:decimal;margin-left: 0.3rem; line-height: 0.3rem;margin-top: 0.1rem;}
/*服务科技-end*/
/*文章详情-start*/
.paper-title{padding:0.3rem 0.3rem 0.1rem;}
.paper-title p{font-size: 0.3rem;line-height: 0.5rem;margin-left: -0.17rem;}
.paper-title p b{float: right;padding:0 0.1rem;border-radius: 2px;font-size: 0.2rem;color:#3d9cfa;border:1px solid #3d9cfa;line-height: 0.4rem;}
.paper-title span{color:#aaa;font-size: 0.2rem;margin-left: 1em;margin-left: -0.01rem;}
.paper-title span i{color:#01b1e3;}
.paper-content p{font-size: 0.28rem;color:#888;line-height: 0.4rem;padding:0 0.3rem;}
.paper-content p.paper-txt1{color:#ff6505;}
.paper-img{margin:0 auto;margin-bottom: 0.2rem;padding:0 0.3rem;}
.paper-img1{width: 6.92rem;height: 4.7rem;margin-top: 0.4rem;}
.paper-img2{width: 6.92rem;height: 4.68rem;}
.more-paper{text-align: center;line-height: 0.35rem;margin-top: 1rem;position: relative;z-index: 10;}
.more-paper span{font-size: 0.3rem;color:#aaa;background-color: #fff;padding:0 0.1rem;display: inline-block;position: relative;z-index: 30;letter-spacing: 1px;}
.more-paper b{display: inline-block;width: 100%;height: 1px;background-color: #ddd;position: absolute;top:50%;left:0;z-index: 20;}
.swiper-wrapper div.swiper-slide-paper{margin-top: 0.2rem;}
.paper-comment{min-height: 4.5rem;margin-top: 0.2rem;}
.paper-comment h2{line-height: 0.6rem;color:#666;font-size: 0.28rem;padding-left: 0.3rem;border-bottom: 1px solid #ddd;}
.paper-comment-txt1{padding:0.3rem;color:#999;font-size: 0.26rem;text-align: center;margin-top: 0.8rem;}
/*文章详情-end*/
/*专家介绍-start*/
.expert-txt{line-height: 0.4rem;text-indent: 2em;}
/*专家介绍-end*/