@charset "utf-8";
/* 账户设置 start */
.account-settings{background:#fefefe;margin-bottom:0.4rem;}
.setting_item{
		padding:0.25rem;border-bottom: 1px solid #ddd;
		background:url(../images/my/right_icon.png) center right 0.25rem no-repeat;
		font-size:0.28rem;background-size:0.2rem 0.35rem;
	}
.set_head{
	line-height:1.11rem;
}
.setting_head_img{
	width: 1.11rem;height: 1.11rem;border-radius:50%;
	margin-right:0.5rem;
}
.settings_item_num{
	color:#999;font-size:0.28rem;padding-right: 0.5rem;
	margin-top:0.03rem;
}
.setting_btn{
	width: 100%;padding:0.25rem 0;background:#fff;
	border-top:1px solid #ddd;border-bottom:1px solid #ddd;
	margin-bottom: 0.4rem;
}

/* 设置头像 */
.setHead_mask{
	position:absolute;top:0;left:0;width:100%;height:100%;
	background:rgba(0,0,0,.5);z-index:9999999;display:none;
}
.setHead_wrap{
	position:absolute;left:0;bottom:0;width: 100%;
	transform:translate3d(0,4rem,0);
	padding:0 0.15rem;transition: .3s ease;
}
.setHead_item{
	width: 100%;padding:0.25rem 0;background:#fff;
	text-align: center;border-bottom:1px solid #ddd;
	color:#0078ff;
}
.setHead_item:first-child{
	border-radius:5px 5px 0 0;color:#999;font-size:0.2rem;
}
.setHead_item:nth-child(3){
	border-radius:0 0 5px 5px;border-bottom:none;
}
.setHead_item:last-child{
	margin:0.15rem 0;border-radius:5px;border-bottom:none;
}
/* 账户设置 end */

/* 全部关注 and 全部粉丝 start */
.all-fan-focus{background-color: #fff;}
.focus-top{margin-top: 0.24rem;}
.all-fan-focus h2{height: 0.7rem;line-height: 0.7rem;color:#999;margin-left: 0.25rem;font-size: 0.2rem;}
.all-fan-msg li{background-color: #fff;padding:0.3rem 0.25rem;border-top: 1px solid #ddd;}
.all-fan-msg li span{width: 0.96rem;height: 0.96rem;border:1px solid #e3e3e3;border-radius: 50%;overflow: hidden;display: inline-block;float: left;}
.fan-msg{float: left;margin:0 0.2rem;}
.fan-msg h3{font-size: 0.3rem;color:#333;margin-top: 0.1rem;}
.fan-msg p{font-size: 0.25rem;color:#999;margin-top: 0.05rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;width:4.5rem;} 
.focus-on{position: relative;float: right;text-align: center;margin-top: 0.1rem;}
.focus-on e{width: 0.44rem;height: 0.44rem;display: inline-block;}
.focus-on-icon1{background: url(../images/my/focused-icon.png) center center no-repeat;background-size: cover;}
.focus-on-icon2{background: url(../images/my/with-focus-icon.png) center center no-repeat;background-size: cover;}
.focus-on b{font-size: 0.2rem;display: block;}
.focus-on-color1{color:#666;}
.focus-on-color2{color:#ff9511;}
/* 全部关注 and 全部粉丝 end */

/* 设置密码 start */
.set_password{
	width: 100%;border-top:1px solid #ddd;border-bottom:1px solid #ddd;
	background:#fff;margin:1.3rem 0;
}
.set_password_item{
	margin:0 0.25rem;padding: 0.25rem 0;border-bottom:1px solid #ddd;
	font-size:0.28rem;
}
.set_password_item:last-child{
	border-bottom:none;
}
.set_password_input{
	margin-left:0.25rem;padding:0 0.25rem;background:#fff;
	border-left:1px solid #eee;font-size:0.25rem;
}

.set_password_btn{
	margin:0 auto;display:block;width:7.03rem;padding:0.25rem;background:#00b1e3;
	color:#fff;border-radius:3px;border:none;
}
/* 设置密码 end */

/* 更换手机号 start */
.set_num_btn{
	margin-top:-0.9rem;
}
.cell_phone_num{border-left:none;padding:0;}
.cell_num{
	margin-left:0.5rem;font-size:0.25rem;color:#999;
}
/* 更换手机号 end */

/* 收支明细 start */
.balance_payments_item{
	padding:0.35rem 0;
}
.balance_payments_img{width: 0.71rem;height: 0.73rem;margin:0 0.6rem;}
.balance_payments_time,.balances span{color:#999;}
.balance_payments_time p,.balances p{font-size:0.36rem;}
/* 收支明细 end */


/* 余额提现 start */
.select_bank{
	width: 100%;padding:0.3rem 0.25rem;background:#fff;
	font-size:0.28rem;
	background:url(../images/my/right_icon.png) center right 0.25rem no-repeat,#fff;
	background-size: 0.2rem 0.35rem;border-top:1px solid #ddd;border-bottom:1px solid #ddd;
}
.select_bank_img{
	width: 0.71rem;height: 0.73rem;
	margin-right:0.4rem;
}
.select_bank_description span{
	color:#999;
}
.balance_payments_input{
	margin:0.4rem 0;
}
.available_balance{
	padding:0.2rem 0;font-size:0.25rem;color:#999;padding-left:0.25rem;
}
.ok_withdrawals{background:#eee;color:#bbb;}
/* 余额提现 end */

/* 选择银行卡 start */
header.bg-color3 .bankcard{
	width:2rem;
}
.add{
	height: 100%;line-height:1.1rem;
	width:0.85rem;text-align:center;
}
.add i{
	display:inline-block;width: 0.4rem;height: 0.36rem;
	background:url(../images/my/add_icon.png) center center no-repeat;
	background-size:cover;
}
.bank_card_img{
	margin:0;margin-right:0.2rem;
}
.bank_card_msg span{
	color:#333;font-size:0.25rem;
}
.bank_card_msg p{
	display:inline-block;font-size:0.25rem;
}
.bank_card_box li:first-child{border-top:0;}
.remove_active{background:transparent;line-height:0.73rem;}
.select_active{
	background:url(../images/my/select_bank.png) center right 0.1rem no-repeat;
	background-size: 0.35rem 0.3rem;
}
/* 选择银行卡 end */

/* 添加银行卡 start */
.add-bank-card{margin:0;margin-bottom:0.7rem;}
.add-bank-card li:first-child input{
	margin-left:0.2rem;
}
.add-bank-card li{padding:0.3rem 0;}
.add-bank-card li:last-child input{
	margin-left:0.5rem;
}
.add-bank-card-des{font-size: 0.24rem;color:#999;padding:0.25rem 0.25rem}
/* 添加银行卡 end */

/* 账户充值 start */
.select_payment_close{
	border-bottom:1px solid #ddd;text-align:center;padding:0.25rem 0;
	position:absolute;bottom:7.9rem;left:0;width:100%;z-index:9999999999;
	background:#fefefe;transform:translate3d(0,9rem,0);transition: .3s ease;
}
.select_payment_close i{
	font-size:0.4rem;color:#999;margin-left:0.25rem;font-family: simsun;
	position:absolute;left:0;font-weight:600;
}
.select_payment{
	margin: 0;position:absolute;bottom:0;left:0;
	padding-bottom:1.5rem;height:8.8rem;background:#fefefe;
	overflow-y:auto;transform:translate3d(0,9rem,0);transition: .3s ease;
}
.select_payment li{padding:0.25rem 0;line-height:0.73rem;}
.select_payment li:last-child{
	text-indent:0.25rem;
}
/* 账户充值 end */

/*账户认证 and 完善资料end start*/
.authentication{background-color: #fff;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;margin-top: 1.3rem;}
.authentication li{margin:0 0.25rem;height: 0.8rem;line-height: 0.8rem;border-bottom: 1px solid #ddd;}
.authentication li p{float: left;color:#333;font-size: 0.28rem;min-width: 1.3rem;display: inline-block;}
.authentication li input{float:left;font-size: 0.2rem;background-color: #fff;margin-left: 0.3rem;width: 4.5rem;margin-top: 0.27rem;}
.authentication li span{float:right;color:#999;font-size: 0.28rem;height: 100%;}
.authentication li span b{display: inline-block;width: 0.18rem;height: 0.3rem;background: url(../images/my/right_icon.png) center center no-repeat;background-size: cover;margin-left: 0.2rem;float:right;margin-top: 0.25rem;}
.authentication li.last-li{border:none;}
.address-msg{height: 1.8rem;padding:0.1rem 0.25rem;font-size: 0.28rem;color:#999;width: 100%;display: block;resize:none;}
.next-button{color:#bbb;text-align: center;font-size: 0.3rem;background-color: #eee;border:none;border-radius: 3px;height: 0.8rem;line-height: 0.8rem;display: block;width: 7rem;margin:0 auto;}
.authentication-button{margin-top: 0.85rem;margin-bottom: 0.5rem;}
.info-perf-button{margin-top: 0.3rem;}
/*账户认证 and 完善资料end*/

/* 我的 start */
.my_head_wrap{
	height:2.3rem;padding:0 0.2rem;
	background:url(../images/my/rt_icon.png) center right 0.2rem no-repeat,#00b1e4;
	background-size: 0.23rem 0.39rem;
}
.my_head_img{
	width: 0.96rem;height: 0.96rem;border-radius:50%;
	margin-top:0.67rem;
}
.my_name{
	margin-left:0.3rem;color:#B8E2F4;font-size:0.24rem;
	margin-top:0.75rem;
}
.my_name h4{
	color:#fff;margin-bottom:0.2rem;
	font-size:0.28rem;
}

.my_balance{
	
}
.my_balance_ck{
	padding:0.3rem 0.2rem;color:#000;font-size:0.36rem;
	line-height:0.26rem;
}
.my_balance_ck i{
	width: 0.42rem;height: 0.24rem;
	background:url(../images/my/ck_icon.png) center center no-repeat;
	background-size:cover;margin-left:0.2rem;display:inline-block;
}
.my_balance_wrap{
	border:1px solid #ddd;border-left:none;border-right:none;
	padding:0.1rem 0.2rem;display:flex;display:-webkit-flex;flex-flow:row nowrap;
	align-items:center;
}
.my_balance_item{
	width: 50%;
	padding:0.2rem 0;
}
.my_balance_item span{display:block;font-size:0.3rem;}
.my_balance_item i{
	margin-right:0.2rem;
	margin-top:0.1rem;
}
.ky_blance i{
	width: 0.54rem;height: 0.54rem;
	background:url(../images/my/kye_icon.png) center center no-repeat;
	background-size:cover;
}
.dj_blance{
	border-left:1px solid #ddd;
}
.dj_blance i{
	margin-left:0.2rem;width: 0.67rem;height: 0.47rem;
	background:url(../images/my/dje_icon.png) center center no-repeat;
	background-size: cover;margin-top:0.15rem;
}
.my_balance_names{color:#000;}
.my_balances{color:#999;}

.class_items{
	padding:0.3rem 0.2rem;border:1px solid #ddd;border-left:none;border-right:none;
	margin-top:0.2rem;font-size:0.28rem;
	background:url(../images/my/right_icon.png) center right 0.2rem no-repeat,#fff;
	background-size: 0.18rem 0.3rem;
}
.class_items span{
}
.class_items i{
	display:inline-block;
	margin-right:0.1rem;
	vertical-align: middle;
	margin-top:-0.03rem;
}
.item_setting i{
	width: 0.39rem;height: 0.37rem;background:url(../images/my/setting_icon.png) center center no-repeat;
	background-size:cover;
}
.item_jyjl i{	
	width: 0.39rem;height: 0.4rem;background:url(../images/my/jyjl_icon.png) center center no-repeat;
	background-size: cover;
}
.ck_all_jyjl{margin-right:0.4rem;color:#999;}
.jy_list{
	list-style-type: disc;
}
.jy_list li{
	color:#999;font-size:0.28rem;background:url(../images/my/right_icon.png) center right 0.2rem no-repeat,#fff;
	background-size: 0.18rem 0.3rem;padding:0.25rem 0.2rem;border-bottom:1px solid #ddd;
}
.jy_list li span:last-child{
	margin-right:0.4rem;
}
.jy_list li span i{
	font-weight:400;font-size:0.2rem;padding-right:0.2rem;
}
/* 我的 end */